<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="<%= csrfToken%>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%=title%></title>
</head>
<body class="bg-gray-100">
    <div class="min-h-screen flex flex-col justify-center">
        <div class="sm:mx-auto sm:w-full sm:max-w-lg">
            <h1 class="text-center text-4xl font-bold p-4">Update session</h1>
            <form action="/session/<%=id%>/updatesession" method="post" class="mt-8 space-y-6 bg-white shadow-md rounded px-10 pt-6 pb-8 mb-4">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                <div class="space-y-4">
                    <div>
                        <label class="block text-sm font-bold mb-2">When will the session be held?</label>
                        <input type="date" name="date" required class="appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"/>
                    </div>
                    <div>
                        <label class="block text-sm font-bold mb-2">What time will the session be held?</label>
                        <input type="time" name="time" required class="appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"/>
                    </div>
                    <div>
                        <label class="block text-sm font-bold mb-2">Where will the session be held?</label>
                        <input type="text" name="location" placeholder="Location" class="appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"/>
                    </div>
                    <div>
                        <label class="block text-sm font-bold mb-2">Who will be joining the session? (Please enter the email of the players you want to add to your session, separated by commas)</label>
                        <input type="text" name="players" class="appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"/>
                    </div>
                    <div>
                        <label class="block text-sm font-bold mb-2">How many more players do you need?</label>
                        <input type="number" name="additional" required class="appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"/>
                    </div>
                    <div class="flex items-center justify-between">
                        <button type="submit" class="bg-green-600 hover:bg-green-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Update</button>
                    </div>
                </div>
            </form>
            <%-include("notifications.ejs")%>
        </div>
    </div>
</body>
</html>
